@charset "utf-8";
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        color: #333;
        font-size: 12px;
    }
    html,body{
        color: #333;
        overflow-x: hidden;
    }
    body ul li{
        cursor: pointer;
    }
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    /*头部部分*/
header{
    max-width: 1920px;
    min-width: 1360px;
    height: 620px;
    margin: 0 auto;
}
.back{
    margin: 0 auto;
    height: 620px;
    position: relative;
}
nav{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 999;
}
nav h1{
    float: left;
    width: 150px;
    height: 50px;
}
nav h1 a{
    display: block;
    width: 86px;
    height: 40px;
    background: url("../images/logo.png") no-repeat 0 0 ;
    margin:  5px auto;
}
.nav{
    padding-top: 20px;
    height: 12px;
}
.nav li{
    float: left;
    position: relative;
}
.nav a{
    color: #ffffff;
}
.nav a:hover{
    color: deepskyblue;
}
.nav li+li{
    margin-left: 30px;
}
.ban1{
    display: block;
    float: right;
    width: 12px;
    height: 8px;
    background: url("../images/icon-index.png") no-repeat -262px -133px;
    margin-top: 4px;
    transition: all 0.5s linear;
}
/*.nav li:hover .ban1{*/
    /*background-position: -262px -158px;*/
/*}*/
.nav li:hover .ban1{
    transform: rotateZ(180deg);
}
.opciy1{
    text-align: center;
    width: 80px;
    height: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.opciy1:hover{
    background: rgba(0,0,0,0.3);
}
.opciy1:hover ul{
    opacity: 1;
}
.opciy1 ul{
    opacity: 0;
    width:80px ;
    height: 90px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(0,0,0,0.3);
    /*text-align: center;*/
}
.opciy1 ul li {
    float: left;
    /*text-align: center;*/
    line-height: 20px;
    margin: 0;
}
.opciy1 ul li a{
    margin-left: 10px;
    line-height: 30px;
}
.opciy2{
    text-align: center;
    width: 80px;
    height: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.opciy2:hover{
    background: rgba(0,0,0,0.3);
}
.opciy2:hover ul{
    opacity: 1;
}
.opciy2 ul{
    opacity: 0;
    width:80px ;
    height: 120px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(0,0,0,0.3);
    /*text-align: center;*/
}
.opciy2 ul li {
    float: left;
    /*text-align: center;*/
    line-height: 20px;
    margin: 0;
}
.new{
    display: block;
    color: #ffffff;
    background-color: #ff7f45;
    position: absolute;
    font-size: 10px;
    top: -12px;
    right: -24px;
}
.opciy2 ul li a{
    margin-left: 10px;
    line-height: 30px;
}
.login{
    height: 32px;
    width: 200px;
    margin-right: 50px;
}
.login input{
    width: 56px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 1px;
    background-color:rgba(255,255,255,0);
    color: #ffffff;
    margin-top: 20px;
}
.login input:hover{
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
}
.login input:first-child{
    margin-right: 10px;
}
.back_banner{
    /*min-width: 1360px;*/
    /*max-width: 1920px;*/
    height: 620px;
    position: relative;
}
.back_banner p {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 20px;
    z-index: 10;
}
.back_banner p a{
    border-radius: 50%;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    float: left;
    margin-right: 20px;
}
.back_banner p a:hover{
    background-color: #cccccc;
}
.back_banner .bn1:target {
    z-index: 2;
}
.bn1{
    width: 100%;
    /*min-width: 1360px;*/
    /*max-width: 1920px;*/
    height: 620px;
    position: absolute;
    background-position: center center;
}
.back_banner6{
    background-image: url("../images/banner06.jpg");
}
.back_banner5{
    background-image: url("../images/banner05.jpg");
}
.back_banner3{
    background-image: url("../images/banner03.jpg");
}
.back_banner2{
    background-image: url("../images/banner02.jpg");
}
.back_banner1{
    background-image: url("../images/banner01.jpg");
}
.bn1>img{
    display: block;
    position: absolute;
}
.bn1 .banner1{
    width: 580px;
    height: 300px;
    position: absolute;
    top: 50px;
    left:30%;
}
.banner1 h2{
    height: 200px;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-weight: normal;
}
.banner1 input{
    width: 433px;
    height: 46px;
    border: none;
}
.banner1 button{
    margin-left: 10px;
    height: 46px;
    width: 128px;
    border: none;
    background-color: deepskyblue;
    color: #fff;
}
.banner2{
    width: 580px;
    height: 300px;
    position: absolute;
    top: 50px;
    left:30%;
}
.banner2 h2{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-weight: normal;
}
.banner2 span{
    color: #ffffff;
    font-size: 20px;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.banner2 button{
    display: block;
    margin: 30px auto;
    border: none;
    background-color: deepskyblue;
    height: 46px;
    width: 128px;
    color: #fff;
}
.banner6{
    width: 200px;
    height: 40px;
    position: absolute;
    top: 400px;
    left:17%;
}
.banner6 button{
    width: 200px;
    height: 40px;
    background-color: deepskyblue;
    color: #fff;
    border: none;
}
.banner3{
    width: 440px;
    height: 320px;
    position: absolute;
    top: 186px;
    left:50%;
}
.banner3 h2{
    height: 100px;
    line-height: 100px;
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;

}
.banner3 span{
    color: #ffffff;
    display: block;
    font-size: 20px;
    height: 50px;
    line-height: 30px;
}

.banner3 img{
    width: 148px;
    height: 148px;
    float: left;
}
.banner3 button{
    width: 222px;
    height: 60px;
    float: right;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    line-height: 60px;
    position: relative;

}
.banner3 button+button{
    margin-top: 18px;
}
.banner3 i{
    width: 27px;
    height: 31px;
    display: block;
    float: left;
    background-image: url("../images/icon-index.png");
    background-repeat: no-repeat;
    background-position: -434px 0;
    position: absolute;
    left: 55px;
    top: 14px;
}
.banner3 .Android{
    background-position: -502px 0;
}
.banner3 button:hover{
    box-shadow: 1224px 60px 20px #cccccc inset;

}
/*.banner3 i:hover{*/
    /*background-position: -400px 0;*/
/*}*/
/*.banner3 .Android:hover{*/
    /*background-position: -468px 0;*/

/*}*/
/*内容部分*/
section{
    min-height: 4670px;
    width: 1360px;
    margin: 0 auto;
}
.box1{
    width: 100%;
    height: 700px;
}
.box1 h3{
    height: 210px;
    line-height: 210px;
    font-size: 36px;
    font-weight: normal;
    text-align:center;
}
.box1 ul{
    width: 100%;
}
.box1 ul li{
    width: 355px;
    height: 186px;
    float: left;
    margin-left:90px ;
    text-align: center;
    border-radius: 5px;
}
.box1 ul li:nth-last-child(-n+3){
    margin-top: 40px;
}
.box1 ul li a{
    display: block;
    width: 355px;
    height: 150px;
    margin-top: 40px;
}
.box1 ul li a i{
    width: 48px;
    height: 52px;
    display: block;
    background: url("../images/icon-support.png") no-repeat 0 -350px;
    margin: 0 auto;
}
.box1 ul li a span{
    display: block;
    height: 50px;
    line-height: 60px;
    font-size: 16px;
}
.box1 ul li:hover{
    background-color: rgba(242,239,239,0.5);
}
.box1 ul li a p{
    height: 20px;
}
.box1 ul li a .ig2{
    background-position: -66px -350px;
}
.box1 ul li a .ig3{
    background-position: -135px -350px;
}
.box1 ul li a .ig4{
    background-position: -200px -350px;
}
.box1 ul li a .ig5{
    width: 54px;
    background-position: -265px -350px;
}
.box1 ul li a .ig6{
    background-position: -334px -350px;
}
.box2{
    height: 850px;
    width: 100%;
    background-color: #f7f7f7;
}
.box2 h3{
    height: 210px;
    line-height: 210px;
    font-size: 36px;
    font-weight: normal;
    text-align:center;
}
.box2_left{
    float: left;
    width: 948px;;
    position: relative;
}
.box2_left1{
    width: 728px;
    height: 610px;
    margin: 0 auto;
    position: relative;
    background: url("../images/pagespcbg.png") no-repeat;
}
.box2_left1 img{
    position: absolute;
    top: 28px;
    left: 24px;
}
.box2_left2{
    width: 238px;
    height: 434px;
    background: url("../images/pagesmobibg.png") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}
.box2_left2 img {
    position: absolute;
    right: 32px;
    bottom: 73px;
}
.box2_right{
    float: right;
    width: 380px;
    height: 280px;
}
.box2_right ul{
    height: 280px;
    margin-top: 30px;
}
.box2_right ul li{
    float: left;
    width: 70px;
    height: 100px;
    text-align: center;
    margin-left: 40px;
}
.box2_right ul li i{
    width: 65px;
    height: 66px;
    display: block;
    background: url("../images/icon-index.png") no-repeat 0 -376px;
}
.box2_right ul li span{
    line-height: 30px;
}
.box3{
    height: 850px;
    width: 100%;
}
.box3 h3{
    height: 210px;
    line-height: 210px;
    font-size: 36px;
    font-weight: normal;
    text-align:center;
}
.box3_left{
    float: right;
    width: 948px;;
    position: relative;
}
.box3_left1{
    width: 728px;
    height: 610px;
    margin: 0 auto;
    position: relative;
    background: url("../images/pagespcbg.png") no-repeat;
}
.box3_left1 img{
    position: absolute;
    top: 28px;
    left: 24px;
}
.box3_left2{
    width: 238px;
    height: 434px;
    background: url("../images/pagesmobibg.png") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}
.box3_left2 img {
    position: absolute;
    right: 32px;
    bottom: 73px;
}
.box3_right{
    float: left;
    width: 380px;
    height: 280px;
}
.box3_right ul{
    height: 280px;
    margin-top: 30px;
}
.box3_right ul li{
    float: left;
    width: 70px;
    height: 100px;
    text-align: center;
    margin-left: 40px;
}
.box3_right ul li i{
    width: 65px;
    height: 66px;
    display: block;
    background: url("../images/icon-index.png") no-repeat 0 -376px;
}
.box3_right ul li span{
    line-height: 30px;
}
.box4{
    width: 100%;
    height: 850px;
    background-color: #f7f7f7;
}
.box4 h3{
    height: 230px;
    line-height: 230px;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}
.box4 ul{
    width: 1220px;
    height: 200px;
    margin: 0 auto;
}
.box4 ul li{
    float: left;
    width: 285px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.box4 ul li:nth-child(1){
    background-image: url("../images/case01.png");
}
.box4 ul li:nth-child(2){
    background-image: url("../images/case02.png");
}
.box4 ul li:nth-child(3){
    background-image: url("../images/case03.png");
}
.box4 ul li:nth-child(4){
    background-image: url("../images/case04.png");
}
/*.box4 ul li a{*/
    /*position: absolute;*/
    /*width: 285px;*/
    /*height: 200px;*/
    /*overflow: hidden;*/
    /*background-color: red;*/
    /*margin-top: 180px;*/
/*}*/
.box4 ul li h6{
    height: 200px;
    position: absolute;
    /*bottom: -170px;*/
    z-index: 2;
    color: #ffffff;
    transform: translate(0px,160px);
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(91,98,101,0.5);
    transition: 0.3s linear all;
}
.box4 ul li h6 span{
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
}
.box4 ul li h6:hover span{
    display: block;
    height: 80px;
    line-height: 100px;
}
.box4 ul li h6 p{
    color: #ffffff;
    width: 250px;
    margin: 0 auto;
}
.box4 ul li:hover h6{
    transform: translate(0px,0px);
}
.box4 ul li+li{
    margin-left: 16px;
}
.box4 ul+ul{
    margin-top: 16px;
}
.box4 ul+ul li:nth-child(1){
    background-image: url("../images/case05.png");

}
.box4 ul+ul li:nth-child(2){
    background-image: url("../images/case06.png");
}
.box4 ul+ul li:nth-child(3){
    background-image: url("../images/case07.png");
}
.box4 ul+ul li:nth-child(4){
    background-image: url("../images/case08.png");
}
.btn{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.btn button{
    width: 176px;
    height: 38px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
.box5{
    width: 100%;
    height: 600px;

}
.box5 h3{
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}
.box5 ul{
    width: 1110px;
    height: 72px;
    margin: 0 auto;
}
.box5 ul li{
    width: 117px;
    height: 72px;
    background: url("../images/icon-logo.png") no-repeat 0 0;
    float: left;
}
.box5 ul li+li{
    margin-left: 80px;
}
.box5 ul+ul{
    margin-top: 30px;
}
.box5 ul li:hover{
    background-position: 0 -213px;
}
.box6{
    width: 100%;
    height: 450px;
    background-color: #f7f7f7;
}
.box6 h3{
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}
.box6 ul{
    width: 1110px;
    height: 335px;
    margin: 0 auto;
}
.box6 ul li{
    float: left;
    width: 180px;
    height: 126px;
}
.box6 ul li i{
    width: 53px;
    height: 55px;
    display: block;
    background: url("../images/icon-index.png") no-repeat -22px -638px;
    margin: 0 auto;
}
.box6 ul li:nth-child(1) i:hover{
    background-position: -22px -740px;
}
.box6 ul li:nth-child(2) i{
    background-position: -140px  -638px;
}
.box6 ul li:nth-child(4) i{
    background-position: -255px  -638px;
}
.box6 ul li:nth-child(5) i{
    background-position: -370px  -638px;
}
.box6 ul li:nth-child(2) i:hover{
    background-position: -140px  -740px;
}
.box6 ul li:nth-child(4) i:hover{
    background-position: -255px  -740px;
}
.box6 ul li:nth-child(5) i:hover{
    background-position: -370px  -740px;
}
.box6 ul .code{
    width: 360px ;
}
.box6 ul .code i{
    width: 111px;
    height: 111px;
    background: url("../images/downQRcode.jpg");
    background-size: 111px 111px;
}
.box6 ul .code span{
    line-height: 20px;
    height: 20px;
}
.box6 ul li span{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.box7{
    width: 100%;
    height: 290px;
}
.box7 ul{
    width: 1160px;
    margin: 80px auto;
}
.box7 ul li{
    width: 180px;
    float: left;
    text-align: center;
}
.box7 ul li+li{
    margin-left: 130px;
}
.box7 ul li i{
    display: block;
    width: 63px;
    height: 64px;
    margin:  0 auto;
    background: url("../images/icon-index.png") no-repeat 0 -920px;
}
.box7 ul li:nth-child(1) i:hover{
    background-position: 0 -1002px;
}
.box7 ul li:nth-child(2) i{
    background-position: -82px -920px;
}
.box7 ul li:nth-child(3) i{
    background-position: -163px -920px;
}
.box7 ul li:nth-child(4) i{
    background-position: -245px -920px;
}
.box7 ul li:nth-child(2) i:hover{
    background-position: -82px -1002px;
}
.box7 ul li:nth-child(3) i:hover{
    background-position: -163px -1002px;
}
.box7 ul li:nth-child(4) i:hover{
    background-position: -245px -1002px;
}
.box7 ul li h6{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
}
.box7 ul li span{
    color: #cccccc;
}
.box8{
    height: 360px;
    width: 100%;
    background-color: #2299ee;
}
.box8 .sm-box{
    width: 1360px;
    height: 360px;
    background: url("../images/index-bottombg.png");
    margin: 0 auto;
}
.box8 .sm-box h3{
    height: 140px;
    line-height: 180px;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
}
.box8 .sm-box button{
    display: block;
    margin: 0 auto;
    background-color:rgba(255,255,255,0) ;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    line-height: 50px;
    position: relative;
}
    /*结尾部分*/
footer{
    width: 100%;
    height: 364px;
    margin: 0 auto;
    background-color: #2d2e2e;
    position: relative;
    padding: 1px;
}
.foot-box{
    width: 1110px;
    height: 200px;
    margin: 60px auto;
    position: relative;
}
.foot-box ul p{
    height: 30px;
    color: #e0e0e0;
}
.foot-box ul{
    float: left;
}
.foot-box ul+ul{
    margin-left: 140px;
}
.foot-box ul li{
    height: 24px;
    line-height: 24px;
    color: #6b7777;
}
.foot-box ul:nth-child(2) li i{
    display: block;
    width: 9px;
    height: 10px;
    float: left;
    margin-top: 7px;
    background: url("../images/icon-support.png") no-repeat -357px -79px;
}
.foot-box ul:nth-child(2) li span{
    color: #6b7777;
    float: left;
}
.foot-box ul:nth-child(2) li:hover i{
    background-position: -384px -79px;
}
.foot-box ul:last-child li i{
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    background: url("../images/icon-support.png") no-repeat -246px -79px;
}
.foot-box ul:last-child li:hover i{
    background-position: -302px -79px;
}
.foot-box ul:last-child li:last-child:hover{
    color: #e1e0e0;
}
.foot-box ul:last-child li:nth-child(4){
    height: 38px;
    line-height: 38px;
}
.end{
    text-align: center;
}
.end a{
    color: #6b7777;
}
.end a:hover{
    color: #e1e0e0;
}